doctype html
html
    head
        meta(charset='urf-8')
        meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Smart Logistic Technology Page')
        meta(name='author', content='Smart Logistic Technology company')
        meta(content='width="device-width, initial-scale=1"', name='viewport')
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

        block TITLE

        block SCRIPT

        // GLOBAL STYLES
        link(rel="stylesheet", href="/styles/responsive.css")
        link(rel="stylesheet", href="/styles/style.css")
        // GLOBAL STYLES END

        link(rel='SHORTCUT ICON', href='favicon.ico')

    body
        div(class='container')
            div(class='header')
                div(class='logo')
                    a(href=sails.config.sltconfig.url.front.home)
                        - var title = __('company_name');
                        img(class='site-logo', src=sails.config.sltconfig.url.front.home+'images/logo.png', alt='SLT logo', title=title )
                    div(class='name-box')
                        a(href=sails.config.sltconfig.url.front.home)
                            h1(class="site-name") #{__('site_name')}
                        span(class="site-tagline") #{__('site_tagline')}
            
                div(class='main-menu')
                    block MENU
                    
                div(class='header-right')
                    block SESSIONINFO

            div(class='content')
                div(class='main-content')
                    block CONTENT

            div(class='footer') #{__('copyright', new Date().getFullYear())}

        // SCRIPTS
        script(src="/js/dependencies/sails.io.js")
        script(src="/js/jquery/jquery-3.2.1.min.js")
        script(src="/js/utils.js")
        // SCRIPTS END

        block JAVASCRIPT    