if req.user.username != ''
    .logout #{__("welcome_user")}
        a(href=sails.config.sltconfig.url.front.user.profile)
            i #{user.last_name} #{user.first_name}
        .logoutlink
            a(href=sails.config.sltconfig.url.front.logout) #{__('logout')}