extends layout.pug

block TITLE
    title #{__("title.login")}

block SCRIPT

block CONTENT
    div.loginform
        div.line.logintitle
            h1 #{__('login_form_title')}
        div.line
            form(action=url_login, method='post', name='login', id='login')
                div.line
                    label.italic #{__('username')}
                    input(type='text', id='username', name='username', value='', class='required')
                    div(class='error', for='username')

                div.line
                    label.italic #{__('password')}
                    input(type='password', id='password', name='password', value='', class='required')
                    div(class='error', for='password')

                div.line.center
                    - var login = __('login')
                    input(type='submit', id='submit', name='submit', value=login)

                div.line.center
                    .error.loginmsg

block JAVASCRIPT
    script.
        $(document).ready(function(){
            $("#username").focus();
            $("#login").submit(function (evt) {
                evt.preventDefault();
                if (loginValidate()) {
                    jQuery.ajax({
                        url: '#{url_login}',
                        type: 'POST',
                        dataType: "json",
                        data: {username: $("#username").val(), password: $("#password").val()},
                        success: function (data) {
                            if (data.status == 'fail') {
                                $(".loginmsg").html(data.err);
                                $("#username").focus();
                            } else {
                                window.location.href = data.backURL;
                            }
                        }
                    });
                }
            });
        });
        function loginValidate() {
            var user = $("#username").val();
            var pass = $("#password").val();
            if (user && pass) {
                $("#username").next().html("");
                $("#password").next().html("");
                return true;
            } else {
                if (!user) {
                    $("#username").next().html("Username invalid!");
                } else {
                    $("#username").next().html("");
                }
                if (!pass) {
                    $("#password").next().html("Password invalid!");
                } else {
                    $("#password").next().html("");
                }
                return false;
            }
        }