extends layout.pug

block TITLE
    title #{__("title_login")}

block CONTENT
    div.loginform
        div.line.logintitle
            h1 #{__('login_form_title')}
        div.line
            form(action=sails.config.sltconfig.url.front.login, method='post', name='login', id='login')
                div.line
                    label.italic #{__('username')}
                    input(type='text', id='username', name='username', value='', class='required')
                    div(class='error', for='username')

                div.line
                    label.italic #{__('password')}
                    input(type='password', id='password', name='password', value='', class='required')
                    div(class='error', for='password')

                div.line.center
                    - var login = __('login')
                    input(type='submit', id='submit', name='submit', value=login)

                div.line.center
                    .error.loginmsg

block SCRIPT
    script.
        $(document).ready(function(){
            $("#username").focus();
            $("#login").submit(function (evt) {
                evt.preventDefault();
                if (loginValidate()) {
                    $.ajax({
                        url: '#{sails.config.sltconfig.url.front.login}',
                        type: 'POST',
                        dataType: "json",
                        crossDomain: true,
                        //headers: {'X-CSRF-TOKEN': "asdfhaifhaihfah"},
                        xhrFields: { withCredentials: true },
                        data: {username: $("#username").val(), password: $("#password").val()},
                        before: function(){
                            //loading image here
                        },
                        success: function (data) {
                            console.log(data.status);
                            console.log(data.backURL);
                            if (data.status === 0) {
                                $(".loginmsg").html(data.err);
                                $("#username").focus();
                            } else {
                                window.location.href = data.backURL;
                            }
                        },
                        complete: function(){
                            //hide loading image
                        }
                    });
                }
            });
        });
        function loginValidate() {
            var user = $("#username").val();
            var pass = $("#password").val();
            if (user && pass) {
                $("#username").next().html("");
                $("#password").next().html("");
                return true;
            } else {
                if (!user) {
                    $("#username").next().html('#{__("login_username_invalid")}');
                } else {
                    $("#username").next().html("");
                }
                if (!pass) {
                    $("#password").next().html('#{__("login_password_invalid")}');;
                } else {
                    $("#password").next().html("");
                }
                return false;
            }
        }
        
